.note-app-form {
	max-width: 650px;
	padding-bottom: 64px;

	& &__footer {
		position: fixed;
		bottom: 0;
		left: 0;
		height: 64px;
		width: 100%;
		background-color: #fff;
		padding: 0 20px;
		z-index: 8; // 1 less than sidebar
		align-items: center;
		box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.03), 0 -1px 2px rgba(0, 0, 0, 0.06);
	}

	@media screen and (min-width: 768px) {
		& &__footer {
			left: 300px;
			width: calc(100% - 300px);
		}
	}
}
