.main-menu {
	width: 300px;
	padding: 20px;
	position: fixed;
	left: -400px;
	top: 52px;
	height: calc(100vh - 52px);
	overflow-y: auto;
	background: #fff;
	box-shadow: 1px 0 3px rgba(0, 0, 0, 0.01), 1px 0 2px rgba(0, 0, 0, 0.06);
	transition: left 300ms ease-out;
	z-index: 9;

	&.menu-is-visible {
		left: 0;
	}

	@media screen and (min-width: 768px) {
		position: relative;
		left: 0;
		top: 0;
	}
}

.menu-toggler {
	position: fixed;
	height: 64px;
	width: 64px;
	border-radius: 64px;
	bottom: 24px;
	right: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0 none;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03), 0 1px 2px rgba(0, 0, 0, 0.06);
	z-index: 10;
	img {
		height: 24px;
		width: 24px;
	}
	@media screen and (min-width: 768px) {
		display: none;
	}
}
