.notes-home {
	text-align: center;

	& &__imgwrap {
		margin: 40px 0;
	}
	& &__img {
		width: 200px;
		height: auto;
	}

	& &__title {
		text-transform: uppercase;
		font-family: 'Rubik', sans-serif;
	}

	& &__subtitle {
		text-transform: lowercase;
		font-family: 'Pacifico', cursive;
		font-style: italic;
	}

	& &__newnote {
		margin: 30px 0 0;

		.button {
			text-transform: uppercase;
			font-family: 'Rubik', sans-serif;
			max-width: 300px;
			margin: 0 auto;
			border-width: 4px;
		}
	}
}
